.expense-date{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(43, 41, 41);
    color: whitesmoke;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.expense-date__month{
    font-size: 16px;
    font-weight: bold;
}
.expense-date__year{
    font-size: 16px;
}
.expense-date__date{
    font-size: 16px;
    font-weight: bold;
}