.expensefilter{
    color: whitesmoke;
    padding: 0 16px;
}
.expensefilter__contorl{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}
.expensefilter label{
    font-weight: bold;
    margin-bottom: 8px;
}
.expensefilter select{
    font: inherit;
    padding: 8px 32px;
    font-weight: bold;
    border-radius: 10px;
}