.new-expense__controls{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
    text-align: left;
}
.new-expense__control label{
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}
.new-expense__control input {
    font: inherit;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgb(11, 11, 11);
    width: 320px;
    max-width: 100%;
}
.new-expense__actions{
    text-align: right;
}